@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #db5196;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .App {
    text-align: center;
  }

  .todo-input {
    outline: none;
    background: none;
    border: 1px solid var(--pink);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: var(--light);
  }

  .todo-input::placeholder {
    color: var(--grey);
  }

  h1 {
    color: var(--light);
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
  }

  .TodoWrapper {
    background: var(--darker);
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
  }

  .TodoForm {
    width: 100%;
  }

  .todo-btn {
    background: var(--pink);
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
  }

  .Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--pink);
    color: var(--light);
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .fa-trash {
    margin-left: 0.75rem;
  }

  .completed {
    color: var(--darkest);
    text-decoration: line-through;
  }